# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/frontend/buyAndSell/*~
/frontend/buyAndSell/*.sw[mnpcod]
/frontend/buyAndSell/.tmp
/frontend/buyAndSell/*.tmp
/frontend/buyAndSell/*.tmp.*
/frontend/buyAndSell/*.sublime-project
/frontend/buyAndSell/*.sublime-workspace
/frontend/buyAndSell/.DS_Store
/frontend/buyAndSell/Thumbs.db
/frontend/buyAndSell/UserInterfaceState.xcuserstate
/frontend/buyAndSell/$RECYCLE.BIN/

/frontend/buyAndSell/*.log
/frontend/buyAndSell/log.txt
/frontend/buyAndSell/npm-debug.log*

/frontend/buyAndSell/.idea
/frontend/buyAndSell/.ionic
/frontend/buyAndSell/.sass-cache
/frontend/buyAndSell/.sourcemaps
/frontend/buyAndSell/.versions
/frontend/buyAndSell/.vscode
/frontend/buyAndSell/coverage
/frontend/buyAndSell/dist
/frontend/buyAndSell/node_modules
/frontend/buyAndSell/platforms
/frontend/buyAndSell/plugins
/frontend/buyAndSell/www

/backend/*~
/backend/*.sw[mnpcod]
/backend/.tmp
/backend/*.tmp
/backend/*.tmp.*
/backend/*.sublime-project
/backend/*.sublime-workspace
/backend/.DS_Store
/backend/Thumbs.db
/backend/UserInterfaceState.xcuserstate
/backend/$RECYCLE.BIN/

/backend/*.log
/backend/log.txt
/backend/npm-debug.log*

/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/.ionic
/backend/.sass-cache
/backend/.sourcemaps
/backend/.versions
/backend/.vscode
/backend/coverage
/backend/dist
/backend/node_modules
/backend/platforms
/backend/plugins
/backend/www